$primary-color: #238293;

.description {
    box-shadow: 0px 8px 30px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: fit-content;
}

.coverimg {
    max-height: 90vh;
    max-width: 90vw;

}