@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=font-text&display=swap");

// Variables
$indigo: rgb(35, 53, 192);
$pink: #dc4f80;
$header-background: rgba(35, 53, 192, 0.9);
$blue: #3949c6;
$title: blue;
$section-title: $indigo;
$label-color: #000;
$alert-color-register: yellow;
$alert-color-login: red;
// Fonts
$font-handwritten: "Shadows Into Light",
cursive;
$font-text: "Roboto",
sans-serif;
// Common styles

a {
  text-decoration: none;
}

body {
  font-family: $font-text;
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  color: $section-title;
  font-family: $font-handwritten;
  font-weight: bold;
}

.defaultButton {
  border-color: blue;
  color: black;
  font-weight: 500;
  align-self: center;
}

.divider {
  width: 100%;
  position: relative;
}

.dividerMask {
  overflow: hidden;
  height: 20px;

  &::after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px rgba($color: $pink, $alpha: 0.4);
  }
}

.highlightPink {
  position: relative;
  display: inline-block;
  border-radius: 30px 0/100px 20px;
  transition: 0.1s ease;

  background: rgba($color: $pink, $alpha: 0.2);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      rgba($color: $pink, $alpha: 0.35) 0%,
      rgba($color: $pink, $alpha: 0.3) 30%,
      rgba($color: $pink, $alpha: 0.2) 65%,
      rgba($color: $pink, $alpha: 0.1) 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      rgba($color: $pink, $alpha: 0.35) 0%,
      rgba($color: $pink, $alpha: 0.3) 30%,
      rgba($color: $pink, $alpha: 0.2) 65%,
      rgba($color: $pink, $alpha: 0.1) 100%);
}

.highlightBlue::before {
  position: relative;
  display: inline-block;
  border-radius: 30px 0/100px 20px;
  transition: 0.1s ease;

  background: rgba($color: $indigo, $alpha: 0.2);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      rgba($color: $indigo, $alpha: 0.35) 0%,
      rgba($color: $indigo, $alpha: 0.3) 30%,
      rgba($color: $indigo, $alpha: 0.2) 65%,
      rgba($color: $indigo, $alpha: 0.1) 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      rgba($color: $indigo, $alpha: 0.35) 0%,
      rgba($color: $indigo, $alpha: 0.3) 30%,
      rgba($color: $indigo, $alpha: 0.2) 65%,
      rgba($color: $indigo, $alpha: 0.1) 100%);
}

// Home styles

// Description
.name {
  font-family: $font-handwritten;
  font-size: 2.5rem;
  color: $indigo;
  font-weight: bold;
}

.coach {
  color: $pink;
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.descriptionText {
  font-size: 1rem;
}

.blockquote {
  position: relative;
  border-top: solid 1px rgba($color: $pink, $alpha: 0.4);
  border-bottom: solid 1px rgba($color: $pink, $alpha: 0.4);
  padding: 20px 0;
  z-index: 1;
  align-self: center;

  &::after {
    position: absolute;
    content: "â€";
    color: $indigo;
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
    font-family: $font-text;
  }

  & p {
    position: relative;
    line-height: 1;
    margin: 0;
  }

  & h4 {
    position: relative;
    color: #292a2b;
    font-size: 1.2rem;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
    font-family: $font-handwritten;
  }
}

.homebg {
  background-color: white;
}

.coverimg {
  width: 100%;
  height: auto;
  max-height: 90vh;
  max-width: 90vw;
  object-fit: contain;
}

.description {
  // box-shadow: 0px 8px 30px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: fit-content;
  margin-top: 2rem;
  text-align: center;
}

// About me styles
.aboutbg {
  width: 100%;
  height: fit-content;
  padding-top: 5rem;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 7px 30px 3px rgba(94, 96, 186, 0.35);
  box-shadow: 0 7px 30px 3px rgba(94, 96, 186, 0.35);
  /* fallback for old browsers */
  background-image: #dc4f80;
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -webkit-linear-gradient(to right, #f3aabf, #dc4f80);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to right, #f3aabf, #dc4f80);
}

.aboutimg {
  width: 100%;
  height: auto;
  max-height: 500px;
  max-width: 500px;
  object-fit: contain;
  margin-bottom: 0;
}

.bio {
  background-color: #fff;
  border-radius: 40px 0 0 40px;
  box-shadow: 0 7px 30px 3px rgba(94, 96, 186, 0.35);
  padding: 2rem;
}

.biotitle {
  font-family: $font-handwritten;
  text-align: center;
  font-size: 2rem;
}

// Gallery styles
.galleryimg {
  max-width: 30vw;
  width: auto;
  height: 800px;
  object-fit: in;
}

.carouselcontrolprevicon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233949c6' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 8vh;
  height: 8vh;
}

.carouselcontrolnexticon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233949c6' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 8vh;
  height: 8vh;
}

// DemoBlog styles
.card {
  float: left;
  padding: 1rem 1.7rem;

  .wrapper {
    background-color: #fff;
    height: fit-content;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    box-shadow: 0px 7px 19px 3px rgba(102, 102, 102, 0.4);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
      box-shadow: 0px 7px 19px 3px rgba(102, 102, 102, 0.9);

      .data {
        transform: translateY(0);
      }
    }
  }

  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;

    .content {
      padding: 1em 1em 0 1em;
      position: relative;
      z-index: 1;
    }
  }

  .author {
    font-size: 16px;
    font-family: $font-handwritten;
    // font-weight: bold;
  }

  .postTitle {
    overflow-wrap: break-word;
    font-size: 1.2rem;
    color: $indigo;
    font-weight: bold;
  }

  .text {
    height: 70px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}

.blockWithText {
  padding-top: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.readMore {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 40px 0 15px 0;

  background-image: rgba($color: $pink, $alpha: 0.9);
  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to bottom,
      transparent 0%,
      rgba($color: white, $alpha: 0.4) 30%,
      rgba($color: white, $alpha: 0.7) 60%,
      rgba($color: white, $alpha: 0.9) 80%,
      rgba($color: white, $alpha: 1) 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to bottom,
      transparent 0%,
      rgba($color: white, $alpha: 0.4) 30%,
      rgba($color: white, $alpha: 0.7) 60%,
      rgba($color: white, $alpha: 0.9) 80%,
      rgba($color: white, $alpha: 1) 100%);
  // background-image: linear-gradient(to bottom, transparent, $pink);
}

.readMoreButton {
  // box-shadow:inset 0px 1px 0px 0px #fbafe3;
  background: $pink;
  background-color: $pink;
  border-radius: 10px;
  border: 1px solid $pink;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c70067;

  &:hover {
    color: white;
    background-color: darken($pink, 7);
  }
}

.postcard {
  .thumbnail {
    width: 100%;
    height: auto;
    min-height: 200px;
    object-fit: cover;
  }

  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $pink;
    color: #fff;
    padding: 0.8em;

    span {
      display: block;
      text-align: center;
    }

    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba(#000, 0.18);
    }

    .month {
      text-transform: uppercase;
    }

    .month,
    .year {
      font-size: 12px;
    }
  }

  .content {
    background-color: #fff;
    box-shadow: 0 5px 30px 10px rgba(#000, 0.3);
  }

  .title {
    a {
      color: $indigo;
    }
  }
}

// End DemoBlog styles

// Footer
.footer {
  background-color: $pink;
  padding: 2rem 15px;
  color: white;
}

.footerTitle {
  text-align: center;
  color: white;
  font-family: $font-handwritten;
  font-size: 1.4rem;
  letter-spacing: 1px;
  background: rgba($color: white, $alpha: 0.2);
  border-radius: 10px;
}

// Blog post styles

.post {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: fit-content;
  transition: all .3s;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: fit-content;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: fit-content;
    margin: 80px auto;
  }


  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: fit-content;
  }

  &__img {
    // width: 40%;
    background-color: white;
    min-width: 250px;
    min-height: 250px;
    height: 40vh;
    width: auto;
    margin: 1rem;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;

    &__helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
      border-radius: 20px;
      transition: all .3s;
      vertical-align: middle;
    }
  }

  &__content {
    // width: 60%;
    margin: 0 2rem;

    @media screen and (max-width: 992px) {
      // width: 55%;
    }

    @media screen and (max-width: 768px) {
      padding: 0 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 0
    }

    >* {
      // transform: translateY(25px);
    }
  }

  &__title {
    color: $indigo;
    text-align: center;
  }

}

//login

.login_form {
  padding: 7%;
  margin-top: 2rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  opacity: 0.9;
  border-radius: 10px;
}

.login_form h3 {
  text-align: center;
  color: #0062cc;
}

.register_form {
  padding: 5%;
  margin-top: 2rem;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.container {
  padding: 5%;
  background: #fff;
}

.register_form h3 {
  text-align: center;
  color: #fff;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login_form .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
  align-items: center;
  width: 40%;
}

.register_form .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
  align-items: center;
  width: 40%;
}

.login_form .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

label {
  font-weight: normal;
  color: $label-color;
}

.errorTextColorRegister {
  color: $alert-color-register;
  font-size: 8;
  font-weight: bold;
}

.errorTextColorLogin {
  color: $alert-color-login;
  font-size: 8;
  font-weight: bold;
}

//marquee

.marquee {
  position: relative;

  overflow: hidden;

  &__inner {
    display: inline-block;
    animation: marquee__inner 3s linear infinite alternate;
  }

  &__content {
    animation: marquee__content 3s linear infinite alternate;
    white-space: nowrap;
  }
}

@keyframes marquee__inner {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 100%;
  }
}

@keyframes marquee__content {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -100%;
  }
}

//upload images

.custom_file_input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom_file_input::before {
  content: "Sube un archivo";
  display: inline-block;
  background-color: #06f7ff;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom_file_input:hover::before {
  border-color: rgb(255, 255, 255);
}

.custom_file_input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.panel {
  display: grid;
}

//videos

.videoWrapper {

  box-shadow: 0px 7px 19px 3px rgba(102, 102, 102, 0.4);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &:hover {
    box-shadow: 0px 7px 19px 3px rgba(102, 102, 102, 0.9);

    .data {
      transform: translateY(0);
    }
  }


}