$primary-color: #238293;

$title: blue;

.description {
    box-shadow: 0px 8px 30px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: fit-content;
    margin-top: 2rem;
}

.coverimg {
    width: 100%;
    height: auto;
    max-height: 90vh;
    max-width: 90vw;
    object-fit: cover;
}

.title {
    text-align: center;
    font-size: 1.5rem;
}

// PostPreview styles

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;

// clear-fix mixin
@mixin cf {

    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}

a {
    text-decoration: none;
}

.row {
    max-width: 900px;
    margin: 50px auto 0;
}

// Base styles
.card {
    float: left;
    padding: 1rem 1.7rem;

    .menucontent {
        @include cf;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
        }

        a {
            color: $white;
        }

        span {
            position: absolute;
            left: 50%;
            top: 0;
            font-size: 10px;
            font-weight: 700;
            font-family: 'Open Sans';
            transform: translate(-50%, 0);
        }
    }

    .wrapper {
        background-color: $white;
        height: fit-content;
        position: relative;
        overflow: hidden;
        box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);

        &:hover {
            .data {
                transform: translateY(0);
            }
        }
    }

    .data {
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(calc(70px + 1em));
        transition: transform 0.3s;

        .content {
            padding: 1em;
            position: relative;
            z-index: 1;
        }
    }

    .author {
        font-size: 12px;
    }

    .title {
        margin: 14px 0;
        overflow-wrap: break-word;
        font-size: 1.1rem;
    }

    .text {
        height: 70px;
        margin: 0;
        overflow: hidden;
    }


}

// First example styles
.postcard {
    .thumbnail {
        width: 100%;
        height: auto;
        min-height: 200px;
        object-fit: cover;
    }

    .date {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $bermuda;
        color: $white;
        padding: 0.8em;

        span {
            display: block;
            text-align: center;
        }

        .day {
            font-weight: 700;
            font-size: 24px;
            text-shadow: 2px 3px 2px rgba($black, 0.18);
        }

        .month {
            text-transform: uppercase;
        }

        .month,
        .year {
            font-size: 12px;
        }
    }

    .content {
        background-color: $white;
        box-shadow: 0 5px 30px 10px rgba($black, 0.3);
    }

    .title {
        a {
            color: $title
        }
    }

    .menubutton {
        position: absolute;
        z-index: 999;
        top: 16px;
        right: 16px;
        width: 25px;
        text-align: center;
        cursor: pointer;

        span {
            width: 5px;
            height: 5px;
            background-color: lighten($black, 50%);
            color: lighten($black, 50%);
            position: relative;
            display: inline-block;
            border-radius: 50%;

            &::after,
            &::before {
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                background-color: currentColor;
                position: absolute;
                border-radius: 50%;
            }

            &::before {
                left: -10px;
            }

            &::after {
                right: -10px;
            }
        }
    }

    .menucontent {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        transition: transform 0.3s;
        transform: translateY(0);

        li {
            width: 33.333333%;
            float: left;
            background-color: $bermuda;
            height: 60px;
            position: relative;
        }

        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
        }

        span {
            top: -10px;
        }
    }
}

// End PostPreview styles