@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");

// Variables
$indigo: rgb(35, 53, 192);
$blue: #3949c6;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$primary-color: #238293;
$secondary-color: #dc4f80;
$title: blue;
$section-title: $indigo;
$label-color: $black;
$alert-color-register: yellow;
$alert-color-login: red;
// Fonts
$font-stack: "Shadows Into Light",
cursive; // Common styles


a {
  text-decoration: none;
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  color: $section-title;
  font-family: $font-stack;
  font-weight: bold;
}

.defaultButton {
  border-color: blue;
  color: black;
  font-weight: 500;

}

// Home styles
.coverimg {
  width: 100%;
  height: auto;
  max-height: 90vh;
  max-width: 90vw;
  object-fit: cover;
}

.description {
  box-shadow: 0px 8px 30px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: fit-content;
  margin-top: 2rem;
}

// About me styles
.aboutbg {
  width: 100vw;
  height: fit-content;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 7px 30px 3px rgba(94, 96, 186, 0.35);
  box-shadow: 0 7px 30px 3px rgba(94, 96, 186, 0.35);
  /* fallback for old browsers */
  background-image: #dc4f80;
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -webkit-linear-gradient(to right, #f3aabf, #dc4f80);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to right, #f3aabf, #dc4f80);
}

.bio {
  background-color: $white;
  margin: 10vh 0;
  border-radius: 40px 0 0 40px;
  box-shadow: 0 7px 30px 3px rgba(94, 96, 186, 0.35);
  padding: 2rem;
}

.biotitle {
  font-family: $font-stack;
  text-align: center;
  font-size: 2rem;
}

// Gallery styles
.galleryimg {
  max-width: 30vw;
  width: auto;
  height: 800px;
  object-fit: in;
}

.carouselcontrolprevicon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2306c7b7' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 8vh;
  height: 8vh;
}

.carouselcontrolnexticon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2306c7b7' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 8vh;
  height: 8vh;
}

// DemoBlog styles

.card {
  float: left;
  padding: 1rem 1.7rem;


  .wrapper {
    background-color: $white;
    height: fit-content;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);

    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }

  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;

    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }

  .author {
    font-size: 16px;
    font-family: $font-stack;
    // font-weight: bold;
  }

  .postTitle {
    margin: 14px 0;
    overflow-wrap: break-word;
    font-size: 1.1rem;
  }

  .text {
    height: 70px;
    margin: 0;
    overflow: hidden;
  }
}

.postcard {
  .thumbnail {
    width: 100%;
    height: auto;
    min-height: 200px;
    object-fit: cover;
  }

  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;

    span {
      display: block;
      text-align: center;
    }

    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }

    .month {
      text-transform: uppercase;
    }

    .month,
    .year {
      font-size: 12px;
    }
  }

  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }

  .title {
    a {
      color: $title;
    }
  }

  .menubutton {
    position: absolute;
    z-index: 999;
    top: 16px;
    right: 16px;
    width: 25px;
    text-align: center;
    cursor: pointer;

    span {
      width: 5px;
      height: 5px;
      background-color: lighten($black, 50%);
      color: lighten($black, 50%);
      position: relative;
      display: inline-block;
      border-radius: 50%;

      &::after,
      &::before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        left: -10px;
      }

      &::after {
        right: -10px;
      }
    }
  }

  .menucontent {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: transform 0.3s;
    transform: translateY(0);

    li {
      width: 33.333333%;
      float: left;
      background-color: $bermuda;
      height: 60px;
      position: relative;
    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }

    span {
      top: -10px;
    }
  }
}



// End DemoBlog styles

// Footer
.footer {
  background-color: $secondary-color;
  padding: 2rem 0;
  color: white;
}

//login

.login_form {
  padding: 7%;
  margin-top: 2rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  opacity: 0.9;
  border-radius: 10px;
}

.login_form h3 {
  text-align: center;
  color: #0062cc;
}

.register_form {
  padding: 5%;
  margin-top: 2rem;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.container {

  background: #fff;
}

.register_form h3 {
  text-align: center;
  color: #fff;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login_form .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
  align-items: center;
  width: 40%;
}

.register_form .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
  align-items: center;
  width: 40%;
}

.login_form .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

label {
  font-weight: normal;
  color: $label-color;
}

.errorTextColorRegister {
  color: $alert-color-register;
  font-size: 8;
  font-weight: bold;
}

.errorTextColorLogin {
  color: $alert-color-login;
  font-size: 8;
  font-weight: bold;
}

//marquee

.marquee {
  position: relative;

  overflow: hidden;

  &__inner {
    display: inline-block;
    animation: marquee__inner 3s linear infinite alternate;
  }

  &__content {
    animation: marquee__content 3s linear infinite alternate;
    white-space: nowrap;
  }
}

@keyframes marquee__inner {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 100%;
  }
}

@keyframes marquee__content {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -100%;
  }
}

//upload images

.custom_file_input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom_file_input::before {
  content: 'Sube un archivo';
  display: inline-block;
  background-color: #06f7ff;
  border: 1px solid #999;
  border-radius: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom_file_input:hover::before {
  border-color: rgb(255, 255, 255);
}

.custom_file_input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.panel {
  display: grid;
}